*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background: black;
    padding: 10px;
}
header img{
    margin: 10px 60px;
    width: 19rem;
}
header ul{
    display: flex;
}
header li{
    margin: 0px 10px;
    list-style: none;
}
header a{
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

.imgBanner{
    width: 100%;
}
h1{
    text-align: center;
    margin: 10px;
}
.about-us{
    font-size: 1.25rem;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: black;
    color: white;
}

h3{
    text-align: center;
    background-color: dimgray;
    color: white;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 65%;
    border-radius: 15px;
}

.styleBtn:hover{
    cursor: pointer;
}

.styleSection{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;

}
.box{
    border-radius: 15px;
    height: 35vh;
    width: 23%;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.imgBox{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.text-box{
    width: 100%;
    font-size: 1rem;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    opacity: 0.8;
}
.btnMas{
    /* padding: 5px; */
    margin: 5px 0;
    font-size: 1.1rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 2rem;
}
.divBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.divBox{
    position: absolute;
    bottom: 0;
    margin: 5px;
}

.descripcion:hover p {
    display: flex;
}

.descripcion p {
    display: none;
}
.text-desc{
    background-color: white;
    opacity: 0.6;
    color: black;
    height: 100%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.descripcion:hover i, .descripcion:hover .sonidoText{
    display: none;
}

.styleInput{
    padding: 5px;
    width: 50%;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    text-align: center;    
}

.cuadrilatero{
    background-color: black;
    width: 60%;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
}
.cuadrilatero h4{
    color: white;
    text-align: center;
    font-size: 1.15rem;
}
.divCuadrilatero{
    display: flex;
    justify-content: space-around;
}
.divCuadrilatero article{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divCuadrilatero article div{
    display: flex;
    justify-content: space-between;
}
.divMedidas{
    align-items: flex-end;
}

.cuadrilatero p{
    color: white;
    font-size: 1.12rem;
    text-align: center;
}
.labelCuadrilatero{
    color: white;
    margin: 0 10px;
}
.grupo{
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}
.grupo div{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tension{
    width: 15%;
}

.envio{
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.map{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.map img{
    width: 40rem;
    margin: auto;
    border-radius: 15px;
}
.div-map{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: end;
}
.div-map div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.div-map div input{
    margin: 5px;
}
.div-duracion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.duracion{
    /* background-color: grey; */
    font-size: 1.6rem;
    /* height: 50px; */
    padding: 15px;
}
.duracion p, .armado p{
    text-align: center;
    margin: 10px;
    
}
.duracion div, .armado div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.armado{
    font-size: 1.6rem;
    border-radius: 15px;
    padding: 15px;
    display: grid;
}


.btnStyle{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.12rem;
}
.listado{
    display: flex;
    justify-content: space-around;;
}
.divListado{
    width: 50%;
    padding: 10px;
}
.divListado h2{
    margin: 15px;
}
.precioStyle{
    background-color: black;
    color: white;
    width:150px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    width: 30%;
}
.formulario div{
    display: grid;
    margin: 5px 0px;
}
.formulario label{
    color: white;
}

.codigo div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.textoCodigo{
    display: flex;
    justify-content: space-around;
}
.btnAplicar{
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: white;
}
.terminos{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.btn-terminos{
    background-color: black;
    color : white;
    border: none;
}
.formulario label a{
    color: white;
}
.formulario input{
    padding: 5px;
    border-radius: 15px;
}

.btnForm {
    margin-bottom: 14px;
}
.invertido{
    background-color: white;
    color: black;
}

.err {
    display: flex;
    background: rgba(226, 36, 36, 0.637);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.12rem;
    padding: 14px 12px;
    border-radius: 12px;
}

.success {
    background: rgba(52, 226, 36, 0.596);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.12rem;
    padding: 14px 12px;
    border-radius: 12px;
}
.divErr{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 20px;
    padding:  15px
}
.about-footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-footer{
    width: 16rem;
}
.icons{
    color: white;
    margin: 0 20px;
    font-size: 1.25rem;
}
.contact{
    color: white;
}
.div-contact{
    margin: 5px;
}
.div-contact div{
    margin: 5px 0;
}
.div-contact small{
    margin: 5px;
}

.terminosYcondiciones{
    background-color: black;
    color: white;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    padding: 15px 0;
    border-radius: 15px;
}
.btnStyle:hover, .btn-terminos:hover{
    cursor: pointer;
}

@media (max-width: 992px){
    header a{
        font-size: 1rem;
    }
    .about-us {
        font-size: 1.12rem;
    }
    .map img{
        width: 30rem;
    }
    .div-map{
        font-size: 0.9rem;
    }
    .duracion, .armado{
        font-size: 1rem;
    }
}
@media (max-width: 767px){
    header nav{
        display: none;
    }
    header img{
        padding: 10px;
        margin: auto;
    }
    .box{
        width: 45%;
    }
    .cuadrilatero{
        width: 95%;
    }
    .grupo{
        width: 95%;
    }
    .cuadrilatero h4 {
        font-size: 16px;
    }
    .envio {
        display: flex;
        flex-direction: column;
    }
    .map img{
        width: 20rem;
    }
    .div-map{
        flex-direction: column;
        padding: 4px;
        margin-top: 10px;
        /* justify-content: space-between; */
    }
    .div-map div {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        text-align: start;
        margin: 5px 0;
    }

    .listado{
        flex-direction: column;
    }
    .divListado{
        width: 95%;
    }
    .formulario{
        width: 95%;
        margin: auto;
    }
    .about-footer{
        display: flex;
        flex-direction: column;
    }
    .div-about{
        display: flex;
        margin: 10px 0;
        text-align: center;
        width: 100%;
        justify-content: space-around;
    }
    .contact{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        width: 100%
    }
}